apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: myapp
  name: myapp
  namespace: myapp-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - image: 273354629542.dkr.ecr.us-west-2.amazonaws.com/api-app-image:08c9cf76b5875804fd8bded1e16e14419c15b439
        name: end-to-end-deploy
        